Dataproc/.ipynb_checkpoints/
Dataproc/pyspark/.ipynb_checkpoints/
.DS_Store

# airflow logs
composer/airflow/logs/

# airflow config
*.cfg
composer/airflow/config/airflow.cfg


# Environment files
.env
composer/airflow/.env

# Keys
*.json
composer/airflow/keys/

# Python cache
__pycache__/
composer/airflow/dags/__pycache__/
*.pyc